.todo-input {
  color: var(--color-white);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-gray-darken1);
  width: 100%;
  padding: 0 0 10px;
}

.todo-input:focus {
  outline: none;
}
